
body{
	background-image:url(../img/back_blue.jpg);
	
}

.container{
	margin-left: 50px;
	margin-top:15px;
}

.flash{
	float:right;
	padding-top:2%;
	margin-right:150px;
}

.flash ul{
    list-style-type: none;
    padding-left:0;
    margin:0;
    /*text-align: left;*/
    /*width:100%;*/
    font-family:Verdana, Arial, Helvetica, sans-serif;
    padding-top:5px;
}

.flash ul li{
    padding-top:6px;
    padding-bottom:6px;
    border-bottom:1px solid #0C0;
    margin:0;
	
}

.wrap{
	opacity:0.5;
	filter: alpha(opacity=50);
	background-color:#060;
	background-image: url(../images/logo.jpg);
	background-repeat:no-repeat;
	background-position:center;
	width: 100%;
	height:450px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid;
	margin-top:5px;
}

.content2{
	position: relative;
	top: 4.7em;
	scrollbar-base-color:#ffeaff;
	color:#000;
	margin-left:25px;
}
.menu{
    width:100%;
    height:52px;
    top:200px;
    left:100px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
	margin-bottom:20px;
}
.item{
    position:relative;
    float:right;
    width:50px;
    margin:0px 5px;
    height:52px;
    border:2px solid #ddd;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    border-radius:30px;
    -moz-box-shadow:1px 1px 3px #555;
    -webkit-box-shadow:1px 1px 3px #555;
    box-shadow:1px 1px 3px #555;
    cursor:pointer;
    overflow:hidden;
}

.link{
    left:2px;
    top:2px;
    position:absolute;
    width:48px;
    height:48px;
}
.icon_home{
    background:transparent url(../images/home.png) no-repeat top left;
}
.icon_mail{
    background:transparent url(../images/mail.png) no-repeat top left;
}
.icon_help{
    background:transparent url(../images/help.png) no-repeat top left;
}
.icon_find{
    background:transparent url(../images/find.png) no-repeat top left;
}
.icon_photos{
    background:transparent url(../images/photos.png) no-repeat top left;
}
.item_content{
    position:absolute;
    height:52px;
    width:220px;
    overflow:hidden;
    left:56px;
    top:7px;
    background:transparent;
    
}
.item_content h2{
    /*color:#aaa;*/
	color:#030;
    text-shadow: 1px 1px 1px #fff;
    background-color:transparent;
    font-size:14px;
}
.item_content a{
    background-color:transparent;
    float:left;
    margin-right:7px;
    margin-top:3px;
    /*color:#bbb;*/
	color:#060;
    text-shadow: 1px 1px 1px #fff;
    text-decoration:none;
    font-size:12px;
}
.item_content a:hover{
    color:#0b965b;
}
.item_content p {
    background-color:transparent;
    
}
.item_content p input{
    border:1px solid #ccc;
    padding:1px;
    width:155px;
    float:left;
    margin-right:5px;
}

*{
	margin:0;
	padding:0;
}

.block_border{
	width:100%;
	height:100%;
	padding:2px;
}

.block_border ul {
	margin: 0;
	list-style-type: none;
	padding-top:5px;
	padding-left:5px;
}

.block_border ul li {
	float:left;
	padding-right:35px;
}

.gallery2{
	background-image:url(../images/control.gif);
	background-repeat: no-repeat;
	width:140px;
	height:140px;
}
 
.gallery2 a{
	background-image:url(../images/control_back.gif);
	background-repeat: no-repeat;
	display: block;
	width:140px;
	height:140px;
	color:#ffffff;
	font-weight:bold;
	text-align: center;
	vertical-align: middle;
	text-decoration:none;
	padding-top:20%;
}
 
.gallery2 a:hover{
	background: none;
}

.wrapper{
	background:#FFF;
	width:100%;
}

.content2 {
    border: #48f solid 3px;
    clear: left;
    padding: 1em;
	margin-bottom:30px;
}

.border{
    border-left:1px solid #0C0;
    border-right:1px solid #0C0;
    border-bottom:3px solid #0C0;
	margin-bottom:30px;
	font-size:12px;
	
}

.itemsbar2{
	background-color:#0080FF;
	width:100%;
	height:60px;
	padding:2px;
}

.float_left{
	float:left;
}

.float_right{
	float:right;
}

.username{
	color:#FFF;
	font-weight:bold;
}

.control_head{
	color:#FFF;
	font-weight:bolder;
	text-align:center;
	padding-left:170px;
	padding-top:20px;
	font-size:16px;
}

.grass{
	background:url(../images/grass.gif) repeat-x bottom;
}

.itemsbar{
	background-color:#206bf5;
	width:100%;
	height:45px;
	padding:2px;
}

.itemsbar ul {
	margin: 0;
	list-style-type: none;
	padding-top:5px;
	padding-left:5px;
}

.itemsbar ul li {
	float:left;
	padding-right:35px;
}

a img {
	
	border: none;
}